html,
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}


/* 
body {
    background-color: #ddd;
}
 */
.header {
    position: fixed;
    padding: 20px 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.header a img {
    width: 250px;

}

.header>div {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>div>p {
    color: #fff;
    font-size: 13px;
}


.header>div>div {
    border: 1px solid #fff;
    margin-left: 100px;
}

.header>div>div>p {
    color: #fff;
    font-size: 13px;
    padding: 10px;
}




.main{
    max-width: 1200px;
    margin: 0 auto;
}


.main_1 {
    height: 100vh;
    background: url('../img/business/bg1-mobile.png') 0 0 /cover no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
}
.main_1 h2{    
    white-space: pre-line;
    color: #fff;
    font-size: 60px;
}

.main_2{
    margin: 100px auto;
    display: flex;
    align-items: center;
}

.main_2> div:nth-of-type(1){
    width: 40%;
}
.main_2> div:nth-of-type(1)>h2{
    font-size: 40px;
}

.main_2> div:nth-of-type(1)>p{
    white-space: pre-line;
    font-size: 25px;
    margin: 50px 0;
}
.main_2> div:nth-of-type(1)>div{
    display: flex;
    width: 330px;
    height: 70px;
    background-color: rgb(38,117,240);
    border-radius: 5px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.main_2> div:nth-of-type(1)>div p{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}


.main_2> div:nth-of-type(2){
    width: 70vw;
}
.main_2> div:nth-of-type(2)>img{
    width: 100%;
}