@import url(./common.css);
.thumb {
    height: 220px;
    background: url('../img/benefit/benefit-head.jpg') 0 0 /cover no-repeat;
    background-position: center center;
    position: relative;
}

.thumb>div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    color: #fff;
}
.main{
    margin: 50px 0;
}

.main_1{
    margin: 0 auto 30px auto;
    max-width: 800px;
}
.main_1 h2{
    color: rgb(0, 184, 255);
}

.main_1 ul{
    margin: 10px 0;
}

.main_1>ul>li{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.main_1>ul>li>div{
    width: 12px;
    height: 12px;
    background-color: rgb(0,70,157);
    border-radius: 6px;
    margin-right: 10px;
}
.main_1>ul>li>p{
    font-size: 15px;
    color: rgb(100,111,124);
    font-weight: bold;
}









.main_2{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
}

.main_2:hover{
    cursor: pointer;
}


.main_2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 398px;
    height: 40px;
    border: 1px solid rgb(0, 184, 255);
    background-color: #fff;
}

.main_2 div p{
    font-weight: bold;
    color : rgb(0, 184, 255);
}

.menuBox_1.active{
    background-color:rgb(0, 184, 255);
}

.menuBox_1.active p{
    color: #fff;
}


.menuBox_2.active{
    background-color:rgb(0, 184, 255);
}

.menuBox_2.active >p{
    color: #fff;
}














.main_3{
    margin: 0 auto;
    max-width: 800px;
    /* height: 2072px;
    position: relative; */
}

.main_3 div{
    width: 100%;
    /* position: absolute; */
}

.main_3.active .main_3{
    /* width: 854px; */
}

.main_3 div:nth-of-type(1){
    display: none;
}
.main_3 div:nth-of-type(2){
    display: none;
}

.main_3 div.active{
    display: block;
}

/* .main_3.active div:nth-of-type(1){
    transform: translateX(-200%);
}

.main_3.active div:nth-of-type(2){
    transform: translateX(0%);
}

.main_3 div:nth-of-type(2){
    transform: translateX(-200%);
} */


.main_3 li{
    padding: 20px 0;
    border-bottom: 1px solid rgb(204,204,204);
}

.main_3 li h2{
    font-size: 17px;
}

.main_3 li p{
    font-size: 12px;
    font-weight: bold;
    color: rgb(170,170,170);
}

.main_3 li p:nth-of-type(1){
    margin: 5px 0;
}

